{% set is_dashboard = True %}
{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block subsection_title %}{% endblock %}
{% block subnavbar_extra %}
    {% if logged_in %}
        <li><button onclick="new_report()">Create</button></li>
    {% endif %}
{% endblock %}

{% block scripts %}<script>{% include 'index.js' %}</script>{% endblock %}

{% block content %}
    {% if logged_in %}
        <table id="reports_list">
            <tr>
                <th>Name</th>
                <th></th>
            </tr>
        </table>
    {% else %}
        <h1>Log in to view reports</h1>
    {% endif %}
{% endblock %}

{% block extra %}
    <div class="popup">
        <form id="new-report">
            <input type="text" placeholder="Name" />
            <input type="submit" value="Create" />
        </form>
        <button onclick="close_popup()">Cancel</button>
    </div>
    
    <div class="popup">
        <form id="update-report">
            <input type="text" value="" style="display: none" />
            <input type="text" placeholder="Name" />
            <input type="submit" value="Update" />
        </form>
        <button onclick="close_popup()">Cancel</button>
    </div>
    
    <div class="popup">
        <form id="delete-report" action="/submit">
            <input type="text" value="" style="display: none" />
            <input type="submit" value="Delete" />
        </form>
        <button onclick="close_popup()">Cancel</button>
    </div>

    <div id="templates">
        <tr class="report_item">
            <td>
                <a></a>
            </td>
            <td>
                <button class="update_report">Update</button>
                <button class="delete_report">Delete</button>
            </td>
        </tr>
    </div>
{% endblock %}
