{% set is_dashboard = False %}
{% extends 'base.html' %}

{% block title %}Report{% endblock %}

{% block subsection_title %}{% endblock %}
{% block subnavbar_extra %}
    {% if logged_in %}
        <li><button onclick="new_expense()">Create</button></li>
    {% endif %}
{% endblock %}

{% block scripts %}<script>{% include 'report.js' %}</script>{% endblock %}

{% block content %}
    {% if logged_in %}
        <table id="expenses_list">
            <tr>
                <th class="header">Date</th>
                <th class="header">Description</th>
                <th class="header">Category</th>
                <th class="header">Amount</th>
                <th class="header">Image</th>
                <th class="header"></th>
        </table>
    {% else %}
        <h1>Log in to view expenses</h1>
    {% endif %}
{% endblock %}

{% block extra %}
    <div class="popup">
        <form id="new-expense">
            <input type="date"/>
            <input type="text" placeholder="Description" />
            <input type="text" placeholder="Category" />
            <input type="number" placeholder="0.00" step="0.01" />
            <input type="submit" value="Create" />
        </form>
        <button onclick="close_popup()">Cancel</button>
    </div>
    
    <div class="popup">
        <form id="update-expense">
            <input type="text" value="" style="display: none" />
            <input type="date"/>
            <input type="text" placeholder="Description" />
            <input type="text" placeholder="Category" />
            <input type="number" placeholder="0.00" step="0.01" />
            <input type="submit" value="Update" />
        </form>
        <button onclick="close_popup()">Cancel</button>
    </div>

    <div class="popup">
        <form id="upload-image" action="/submit">
            <input type="text" value="" style="display: none" />
            <input type="file" name="file" />
            <input type="submit" value="Upload" />
        </form>
        <button onclick="close_popup()">Cancel</button>
    </div>

    <div id="templates">
        <table>
            <tbody>
                <tr class="expense_item">
                    <td class="date"></td>
                    <td class="description"></td>
                    <td class="category"></td>
                    <td class="amount" style="text-align:right"></td>
                    <td class="image">
                        <button class="upload_receipt"></button>
                        <button class="delete_receipt">Delete</button>
                    </td>
                    <td>
                        <button class="update_expense">Update</button>
                        <button class="delete_expense">Delete</button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>

    <a id="download-link" style="display: none"></a>
{% endblock %}
